@using MudBlazor
@inherits LayoutComponentBase


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<div class="auth-container">
    <article class="content px-4">
        @Body
    </article>
</div>
